.price--block {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  div {
    font-size: 30px;
  }
}

.header {
  font-size: 20px;
}

.ui.cards  {
  margin: 0;
  @media screen and (max-width: 605px){
    justify-content: center;
  }
}
